@media screen and (min-width : 0px) and (max-width : 550px) {
    .c1 {
        position: relative;
        margin: auto;
        border: 1px;
        padding: 50px;
        background-color: #003476;
        width: 500px;
    }

    .c2 {
        position: relative;
        margin: auto;
        border: 1px;
        padding: 50px;
        background-color: #0062D2;
        width: 500px;
    }

    .c3 {
        position: relative;
        margin: auto;
        border: 1px;
        padding: 50px;
        background-color: #B4D2F7;
        width: 500px;
    }

    .c4 {
        position: relative;
        margin: auto;
        border: 1px;
        padding: 50px;
        background-color: #D5DFEF;
        width: 500px;
    }

    .c5 {
        position: relative;
        margin: auto;
        border: 1px;
        padding: 50px;
        background-color: #DFE1E5;
        width: 500px;
    }
}